<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Proof of Life</title>
  <link rel="stylesheet" href="styles/reset.css">
  <link rel="stylesheet" href="styles/style.css">
</head>
<body>
  <section id="view">
  <header>
    <h1>Best Books!</h1>
    <nav>
        <div class="dropdown">
            <button class="dropbtn">Menu</button>
            <div class="dropdown-content">
              <a href="/views/pages/index.ejs">Home</a>
              <a href="/views/pages/error.ejs">error</a>
              <a href="/show">result</a>
            </div>
          </div>
    </nav>
    <h2>Search by Title or Author</h2>
  </header>
  <main>
    <section id="form">
    <form  id="item1" method="POST" action="/search">
      <label class="items">
      <input name="query" type="text">
      </label>
      <label class="items"> <span>Author</span>
      <input type="radio" name="searchType" value="Author">
    </label>
    <label class="items">  <span>Title</span>
      <input type="radio" name="searchType" value="Title">
      </label>
      <label class="items">
      <input type="submit" value="Search the Google Books API">
      </label>

    </form>
  </section>
  <span><%= count %></span>
    <% booksData.forEach( book => { %>
      <div>
      <img src="<%=book.img_url %>"/>
      <h3><%= book.title %></h3>
      <h3>by <%= book.author %></h3>
      <p><%= book.description %></p>
      <p><%= book.isbn %></p>
      <p><%= book.bookshelf %></p>
      <form action="/books/<%= book.id %>" method="GET" >
      <!-- <input type="hidden" name="id" value="<%= book.id %>"/> -->
      <input type="submit" value="View Details"/>
      </form>
      </div>
      <%}) %>
  </main>
</section>
</body>
</html>
