<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Proof of Life</title>
  <link rel="stylesheet" href="styles/reset.css">
  <link rel="stylesheet" href="styles/base.css">
  <link rel="stylesheet" href="styles/layout.css">
  <link rel="stylesheet" href="styles/modules.css">
</head>
<body>
  <header>
    <h1>Best Books!</h1>
    <%- include('nav') %>
    <div>
      <h2>Search by Title or Author</h2>
    </div>
  </header>
  <main>
    <form method="POST" action="/search">
      <label>Search books
      <input name="query" type="text">
      </label>
      <label> Search by Author
      <input type="radio" name="searchType" value="Author">
    </label>
    <label> Search by Title
      <input type="radio" name="searchType" value="Title">
      </label>
      <input type="submit" value="search">
    </form>
    <span><%= count %></span>
    <% booksData.forEach( book => { %>
      <div>
      <img src="<%=book.img_url %>"/>
      <h3><%= book.title %></h3>
      <h3>by <%= book.author %></h3>
      <p><%= book.description %></p>
      <form action="/books/<%= book.id %>" method="GET" >
      <!-- <input type="hidden" name="id" value="<%= book.id %>"/> -->
      <input type="submit" value="View Details"/>
      </form>
      </div>
      <%}) %>
  </main>
</body>
</html>
